@font-face {
  font-family: abdoullah-ashgar-el-kharef;
  src: url("../font/abdoullah-ashgar-el-kharef.ttf");
}

@font-face {
  font-family: Mulish;
  src: url("../font/Mulish-VariableFont_wght.ttf");
}

* {
  margin: 0;
}
body {
  background: url(../imgs/gradientbackground.png), #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
  background: rgba(245, 247, 255, 0.85);
  border-radius: 10px;
  margin: 1rem;
}
.container-img {
  width: 450px;
  border-radius: 10px;
}
.container-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-text h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 120%;
  font-family: "abdoullah-ashgar-el-kharef";
  color: #2d2d2d;
}

.container-text p {
  max-width: 450px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #1f1249;
}

.button-blue {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 3rem;
  /* gap: 12px; */
  height: 60px;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  border-radius: 10px;
  /*  */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  color: #ffffff;
  align-self: stretch;
  transition: all 0.3s ease;
}
.button-blue:hover {
  transform: scale(0.96);
}
/**************************/
/* BELOW 950px (Tablets) */
/**************************/

@media (max-width: 950px) {
  main {
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .container-img {
    width: 100%;
  }
  .container-text h1,
  .container-text p {
    text-align: center;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 544px) {
  .container-img {
    width: 20rem;
  }
  .container {
    background: rgba(245, 247, 255, 0.85);
    /* margin: 0; */
    /* border-radius: 0; */
    padding: 2rem;
  }
  .container-text {
    align-items: center;
  }
  .container-text h1 {
    font-size: 2.6rem;
  }

  .container-text p {
    font-size: 1.2rem;
  }
}

/* ///////////////////// */
@media (max-width: 375px) {
  .container-img {
    width: 315px;
    height: 315px;
  }
  .container {
    margin: 0;
  }
}
